
<pep-page-layout [addPadding]="true" *ngIf="collectionLoaded">
    <ng-container pep-top-area>
        <pep-top-bar [title]="'Collection_Edit_Title' | translate: {collection_name: collectionName}">
            <div header-start-content>
                <!-- <pep-button class="pep-spacing-element" (buttonClick)="goBack()" [iconName]="'arrow_left_alt'" *ngIf="hasTabs"></pep-button> -->
            </div>
            <div header-end-content >
                <pep-button class="pep-spacing-element" [value]="'Back_to_list' | translate" (buttonClick)="goBack()"></pep-button> 
                <pep-button
                    class="pep-spacing-element" 
                    [value]="'Update' | translate" 
                    [styleType]="'strong'" 
                    [disabled]="!documentKeyValid"
                    (buttonClick)="saveClicked()"
                    *ngIf="!hasTabs"
                ></pep-button>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <ng-container *ngIf="hasTabs then tabs else noTabs"></ng-container>
    </ng-container>

    <ng-template #tabs>
        <mat-tab-group #tabGroup animationDuration="0ms" [selectedIndex]="currentTabIndex" (selectedTabChange)="onTabChanged($event)">
            <mat-tab label="{{'General' | translate}}">
                <form-general-tab [collection]="collection" [insideTab]="true" (saveCollection)="saveCollection($event)" (documentKeyValidationChange)="documentKeyValidationChanged($event)" (fieldIndexChange)="fieldIndexChanged($event)"></form-general-tab>
            </mat-tab>
            <mat-tab label="{{'Events' | translate}}">
                <collection-events [collectionName]="collectionName" [collectionEvents]="collectionEvents"></collection-events>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
    
    <ng-template #noTabs>
        <form-general-tab [collection]="collection" [insideTab]="false" (documentKeyValidationChange)="documentKeyValidationChanged($event)" (fieldIndexChange)="fieldIndexChanged($event)"></form-general-tab>
    </ng-template>
</pep-page-layout>


