<pep-dialog [title]="dialogTitle">
    <ng-container pep-dialog-content>
        <div class="form-row">
            <pep-textbox
                [(value)]="dialogData.FieldName"
                [label]="'Key' | translate"
                type="text"
                [mandatory]="true"
                [disabled]="(!dialogData.EmptyCollection || dialogData.InUidFields) && dialogData.Mode !== 'Add'"
            ></pep-textbox>
            <pep-textbox
                [(value)]="dialogData.Field.Description"
                [label]="'Description' | translate"
                type="text"
                [mandatory]="false"
            ></pep-textbox>
        </div>
        <div class="form-row">
            <pep-select
                [(value)]="dialogData.Field.Type"
                [label]="'Type' | translate"
                type="select"
                [options]="fieldTypes"
                [emptyOption]="false"
                (valueChange)="fieldTypeChanged($event)"
            ></pep-select>
            <pep-select
                [(value)]="dialogData.Field.Resource"
                [label]="'Resource' | translate"
                type="select"
                [options]="resourcesOptions"
                [emptyOption]="false"
                (valueChange)="resourceChanged($event)"
                [disabled]="dialogData.Field.Type !== 'Resource'"
            ></pep-select>
        </div>
        <div class="form-row">
            <pep-select
                [(value)]="isArray"
                [label]="'Fields_Array_Title' | translate"
                type="select"
                [options]="booleanOptions"
                [emptyOption]="false"
                [disabled]="dialogData.Field.Type === 'Resource' || dialogData.Field.Type === 'DateTime'"
                ></pep-select>
                <pep-select
                [(value)]="dialogData.Field.Mandatory"
                [label]="'Mandatory' | translate"
                type="select"
                [options]="[{key:true, value:'True'},{key:false, value:'False'}]"
                [emptyOption]="false"
                [disabled]="!dialogData.EmptyCollection || dialogData.InUidFields"
            ></pep-select>
        </div>
        <div class="form-row">
            <pep-textarea
                [value]='dialogData.Field?.OptionalValues?.join("\n")'
                [label]="'Optional Values' | translate"
                [mandatory]="false"
                [disabled]="hasOptionalValues == false"
                xAlignment="left"
                [rowSpan]="3"
                (valueChange)=saveOptionalValues($event)
            ></pep-textarea>
        </div>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'cancel' | translate" 
                [styleType]="'weak'" 
                (buttonClick)="close()"
            ></pep-button>          
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="(dialogData.Mode === 'Edit' ? 'Update' : 'Save') | translate" 
                [styleType]="'strong'" 
                (buttonClick)="saveField()"
                [disabled]="dialogData.FieldName === ''"
            ></pep-button>
        </div>
    </ng-container>
</pep-dialog>