<pep-dialog [title]="(incoming.Mode === 'Edit' ? 'Documents_EditForm_Title' : 'Documents_AddForm_Title') | translate">
    <ng-container pep-dialog-content>
        <pep-generic-form [dataSource]="item" [dataView]="incoming.DataView" (formValidationChange)="isValid = $event">

        </pep-generic-form>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">         
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'Cancel' | translate" 
                [styleType]="'weak'" 
                (buttonClick)="close()"
            ></pep-button>
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="(incoming.Mode === 'Edit' ? 'Update' : 'Save') | translate"
                [styleType]="'strong'" 
                (buttonClick)="saveDocument()"
                [disabled]="!isValid"
            ></pep-button>
        </div>
    </ng-container>
</pep-dialog>